{{ $optBlock := dict "display" "block" }}
{{ $optOrg := dict "markup" "org" }}
<div class="book-columns flex flex-wrap">
{{ range split .Inner "<--->" }}
  <div class="flex-even markdown-inner">
    {{  .  | $.Page.RenderString }}
  </div>
{{ end }}
</div>
