
<div class="flex align-center">
  <h1>
  <strong>{{ partial "docs/title" . }}</strong>
  <h1/>
</div>

{{ if and .GitInfo .Site.Params.BookRepo }}
  <div>
    {{- $date := partial "docs/date" (dict "Date" .GitInfo.AuthorDate.Local "Format" .Site.Params.BookDateFormat) -}}
    {{- $commitPath := default "commit" .Site.Params.BookCommitPath -}}
    <a class="flex align-center" href="{{ .Site.Params.BookRepo }}/{{ $commitPath }}/{{ .GitInfo.Hash }}" title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}' target="_blank" rel="noopener">
      <span>{{ $date }}</span>
    </a>
  </div>
{{ end }}
<br/>
